---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Entre em contato</Fragment>
      <Fragment slot="desc">Conte conosco nessa jornada.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Fale com a T.I. NA MENTE</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Tem algo a dizer? Estamos aqui para ajudar. 
          Preencha o formulário, envie e-mail ou Whatsapp.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>São Pedro da Aldeia - Rio de Janeiro </span>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:hello@astroshipstarter.com"
              >comercial@tinamente.com.br</a
            >
          <!--</div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
              href="tel:+55 (21) 98241-5782">+55 (21) 98241-5782</a
            >
          -->
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:whatsapp" /><a
              href="https://api.whatsapp.com/send/?phone=5521982415782">T.I. NA MENTE</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
