---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Sua ideia é nossa inovação",
    description:
      "Construímos software conforme a sua necessidade, uma ideia nasce de grandes sonhos e é o nosso dever colocá-las no mundo real. Verifique a nossa disponibilidade.",
    icon: "bx:bxs-bulb",
  },
  {
    title: "Segurança da informação",
    description:
      "Sabemos que a segurança da informação nunca será 100%, porém estamos aqui para lhe ajudar a garantir o máximo possível para seu negócio, conte conosco.",
    icon: "bx:bxs-shield",
  },
  {
    title: "Projetos ao seu alcance",
    description:
      "Visibilidade de forma prática e ordenada, seus projetos são os nossos. Vamos junto colocá-los em prática.",
    icon: "bx:bxs-spreadsheet",
  },

];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Inovações e serviços para começarmos.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Abaixo você encontrará alguns dos nossos serviços disponíveis;
    seria mais um norte para iniciamos nossa parceria. Lembre-se! você nunca estará só, possuímos soluções e inovações para seu negócio.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
