---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    
    <Picture
      src={heroImage}
      alt="Um robo cheio de fofura"
      widths={[200, 400, 600]}
      aspectRatio="1:1"
      sizes="(max-width: 800px) 100vw, 420px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-5xl font-bold lg:tracking-tight xl:tracking-tighter">
      Olá! 
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Bem-vindo à T.I. NA MENTE, onde a tecnologia encontra a inovação. Somos uma equipe apaixonada por 
      soluções tecnológicas que transformam ideias em realidade. Venha conosco para descobrir como estamos 
      moldando o nosso futuro e o futuro dos nossos parceiros nessa jornada tecnológica, com serviços de ponta 
      em desenvolvimento, segurança da informação, e arquitetura tecnológica. Estamos aqui para irmos juntos 
      com você e sua empresa a moldar uma nova realidade em parceria nessa nova era. Seja bem-vindo ao nosso universo tecnológico!"í 😊<wbr />
    </p>
  </div>
  <div class="py-6 md:order-1 hidden md:block">
    
    <Picture
      src={heroImage}
      alt="Um robo cheio de fofura"
      widths={[200, 400, 600]}
      aspectRatio="1:1"
      sizes="(max-width: 800px) 100vw, 420px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-5xl font-bold lg:tracking-tight xl:tracking-tighter">
      Olá! 
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Bem-vindo à T.I. NA MENTE, onde a tecnologia encontra a inovação. Somos uma equipe apaixonada por 
      soluções tecnológicas que transformam ideias em realidade. Venha conosco para descobrir como estamos 
      moldando o nosso futuro e o futuro dos nossos parceiros nessa jornada tecnológica, com serviços de ponta 
      em desenvolvimento, segurança da informação, e arquitetura tecnológica. Estamos aqui para irmos juntos 
      com você e sua empresa a moldar uma nova realidade em parceria nessa nova era. Seja bem-vindo ao nosso universo tecnológico!"í 😊<wbr />
    </p>
  </div>
</main>
